.MODAL {
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MODAL__ERROR {
    color: $new-red;
}

.MODAL > button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    background: none;
    //height: 20px;
    //width: 20px;
    //background: url('../../public/img/close.png');
}

.OVERLAY {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(134, 134, 134, 0.6);
}