.SELECTOR {
    display: flex;
    margin-top: 30px;
}

.SELECTOR__BUTTONBACK {
    padding: 15px 50px;
    color: white;
    background: grey;
    border: none;
    margin-right: 20px;
    outline: none;
}

.SELECTOR__BUTTONFORWARD {
    padding: 15px 50px;
    color: white;
    background: $new-red;
    border: none;
    outline: none;
}